.calendar-days {
    display: flex;
    flex-wrap: wrap;
}
.calendar-body {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    perspective: 600px;
}

.day-block {
    /*transition:transform 1s ease;*/
    flex: 1 0 12%;
    margin: 5.5px;
    text-align: center;
    padding: 9px 4px;
    color: teal;
    min-width: 30px;
    font-size: 1.2rem;
    font-weight: bold;
    border:2px solid transparent;
    border-image:url("../imgs/border.jpg") 15% 220 stretch;
    box-shadow:2px 2px 5px teal;
}
.block-heading:hover, .next-month:hover, .last-month:hover{
    cursor:context-menu;
}
.block-heading {
    font-weight: bold;
    color: rgb(227, 255, 231);
    font-size: 1.3rem;
    border:none;
    background: #393939;
}


.current-month:hover {
    cursor: pointer;
    background: #393939;
    color: whitesmoke;
}


.last-month, .next-month {
    color: gray;
    background: #CCC;
}

.today {
    color:#BA8B02;
}

.today:hover {
    background: linear-gradient(to right, #BA8B02, #5d450b);
    color: whitesmoke;
    cursor: pointer;
}

.day-block.active {
    transition: transform 2s ease;
    transform: rotateY(+360deg);
    /*TODO maybe some extra info here*/
    /*transform: scale3d(5,5,5);*/
    background: #393939;
    color: whitesmoke;
}

.active.today {
    background: linear-gradient(to right, #BA8B02, #5d450b);
}